.date {
  color: color(var(--c-arapawa) a(30%));
  font-family: var(--f-sans);
  font-size: 20vw;
  font-weight: 400;
  line-height: .9;
  opacity: .5;
  position: absolute;
  right: -6vw;
  top: 7rem;
  transform: translateX(2rem);
  z-index: -1;
  animation: slideLeftDate 7s ease-out forwards;

  @media (--date) {
    font-size: 24em;
    right: -115px;
  }
}

.date__month,
.date__year { display: block; }


