.m-speaker__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  left: -2rem;
  margin-bottom: .875rem;
  position: relative;
  width: calc(100% + 4rem);

  @media (--medium-ish) {
    left: -3rem;
    margin-bottom: 1.875rem;
    width: calc(100% + 6rem);
  }

  @media (--medium-large) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (--large-ish) {
    left: -4.5rem;
    width: calc(100% + 9rem);
  }
}

.m-speaker__item {
  align-items: flex-start;
  background-color: var(--c-white);
  box-shadow: 0 0 6.875rem -3.125rem color(var(--c-black) a(80%));
  display: flex;
  flex-direction: column;
  margin-bottom: 1.125rem;
  padding: 1.125rem;

  @media (--small-ish) { flex-direction: row; }

  @media (--medium-large) {
    flex: 0 1 48.5%;
    margin-bottom: 2.125rem;
    padding: 1.875rem;
  }

}

.m-speaker__imgwrapper {
  @media (--small-ish) {
    margin-right: 1.125rem;
    max-width: 16rem;
    width: 30%;
  }

  @media (--medium-large) {
    cursor: pointer;
    max-width: 11.25rem;
    width: 100%;
  }

  @media (--large-ish) { margin-right: 1.875rem; }
}

.m-speaker__time {
  font-family: var(--f-sans);
  letter-spacing: .4em;
}

.m-speaker__name {
  margin-bottom: .875rem;

  &:hover {
    color: var(--c-rose-bud);
    cursor: pointer;
    transition: color .5s ease-in-out;
  };
}

.m-speaker__social {
  fill: var(--c-light-apricot);
  float: right;
  margin-top: -.25rem;
  transition: fill .5s ease-in-out;
  width: 1.7rem;

  &:hover { fill: var(--c-gigas); }
}

.m-speaker__desc { margin-bottom: 0; }

.m-speaker__link { color: var(--c-rose-bud); }

.m-speaker__info {
  color: var(--c-gigas);

  @media (--small-ish) { width: 70%; }

  @media (--medium-large) { width: 100%; }
}



/* OVERLAY TALK DESCRIPTION */

.overlay-bg {
  background-color: color(var(--c-black) a(70%));
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  display: none;
}

.m-modal {
  background-color: var(--c-white);
  box-shadow: 0 0 6.875rem -3.125rem color(var(--c-black) a(80%));
  left: 50%;
  max-width: 40rem;
  padding: 3rem;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 90%;
  z-index: 3;

  display: none;
}

.m-modal__close {
  color: var(--c-gigas);
  cursor: pointer;
  font-family: var(--f-sans);
  font-size: 1.5em;
  position: absolute;
  right: 2rem;
  top: 1.3rem;
}

.name-overlay { color: var(--c-gigas); }
