.m-sponsor-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 3rem;
}

.m-sponsor-list__item {
  margin:0 2.25rem 2.25rem 0;
  width: 12.5rem;
  height: 12.5rem;
  box-shadow: 0 0 1.25rem rgba(0,0,0,.2);
  text-align: center;
}
