.m-sponsor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.m-sponsor-list__item {
  flex: 0 1 20%;
}

.sponsor-logo {
  background-color: white;
  box-shadow: 0 0 4.375rem -1.875rem rgba(0,0,0,.8);
}
