.m-sponsor-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 3rem;
}

.m-sponsor-list__item {
  margin-right: 30px;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 20px rgba(0,0,0,.2);
  text-align: center;
}
