:root {
  --c-alabaster: #F7F7F7;
  --c-arapawa: #0E0D55;
  --c-gigas: #3D3B94;
  --c-light-apricot: #FDCEB0;
  --c-rose-bud: #F8A7AF;
  --c-white: #FFF;
  --c-black: #000;

  --f-sans: 'Hind Vadodara', sans-serif;
  --f-serif: 'Vollkorn', serif;
}
